[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  G0 X250 Y200 Z5


[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -5
position_min: -5
position_max: 252
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -5
position_min: -5
position_max: 232
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 270
position_min: -5


[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
gear_ratio: 42:12
rotation_distance: 26.359
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
#pid_Kp: 23.561
#pid_Ki: 1.208
#pid_Kd: 114.859
min_temp: 0
max_temp: 300
pressure_advance: 0.05295

[heater_bed]
heater_pin: PA7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 71.867
#pid_Ki: 1.536
#pid_Kd: 840.843
min_temp: 0
max_temp: 110

[heater_fan hotend_fan]
pin: PC0

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2000
max_z_velocity: 5
max_z_accel: 100

[bltouch]
sensor_pin: ^PC14 
control_pin: PC13 
x_offset: -32
y_offset: -41
#z_offset: 2.252500
speed:10
samples:1
samples_result:average
probe_with_touch_mode: true
stow_on_each_sample: false

[bed_mesh]
speed: 120
mesh_min: 7, 7
mesh_max: 200, 185
probe_count: 10,10
algorithm: bicubic

[safe_z_home]
home_xy_position: 147, 154
speed: 75
z_hop: 5
z_hop_speed: 5
move_to_previous: true

[filament_switch_sensor e0_sensor]
switch_pin: !PC15
pause_on_runout: true
runout_gcode: PAUSE

[pause_resume]
recover_velocity: 25

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.072500, 0.100000, 0.045000, 0.000000, 0.000000, -0.007500, -0.042500, 0.012500, -0.022500, -0.020000
#*# 	0.220000, 0.165000, 0.062500, 0.000000, -0.002500, -0.065000, -0.107500, -0.037500, -0.110000, -0.147500
#*# 	0.217500, 0.150000, 0.085000, 0.002500, 0.002500, -0.045000, -0.087500, -0.047500, -0.100000, -0.142500
#*# 	0.175000, 0.162500, 0.062500, 0.015000, 0.027500, -0.005000, -0.060000, -0.010000, -0.030000, -0.055000
#*# 	0.207500, 0.167500, 0.090000, 0.067500, 0.030000, 0.022500, -0.032500, 0.017500, -0.022500, -0.027500
#*# 	0.250000, 0.220000, 0.132500, 0.065000, 0.060000, 0.010000, -0.027500, 0.017500, -0.010000, -0.040000
#*# 	0.205000, 0.172500, 0.115000, 0.052500, 0.057500, 0.027500, 0.005000, 0.047500, 0.022500, -0.007500
#*# 	0.247500, 0.230000, 0.127500, 0.087500, 0.110000, 0.052500, 0.012500, 0.085000, 0.050000, 0.020000
#*# 	0.292500, 0.247500, 0.180000, 0.137500, 0.142500, 0.107500, 0.062500, 0.125000, 0.082500, 0.067500
#*# 	0.257500, 0.250000, 0.152500, 0.132500, 0.127500, 0.090000, 0.082500, 0.130000, 0.095000, 0.082500
#*# tension = 0.2
#*# min_x = 7.0
#*# algo = bicubic
#*# y_count = 10
#*# mesh_y_pps = 2
#*# min_y = 7.0
#*# x_count = 10
#*# max_y = 184.92
#*# mesh_x_pps = 2
#*# max_x = 199.96
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.682
#*# pid_ki = 1.185
#*# pid_kd = 99.195
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.765
#*# pid_ki = 1.216
#*# pid_kd = 1088.753
#*#
#*# [bltouch]
#*# z_offset = 2.317
